name: Working CI
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.24'
          cache: true
      - name: Run
        run: |
          cd backend/main-service
          timeout 15 go run main.go 2>&1 | tail -20 || echo "Existed"